<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="container">
                <img src="../assets/img/gloryhammer_logo.png" alt="Gloryhammer" class="home-logo" width="750" height="195">
            </div>
        </header>

        <main>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="authory.html">Autoría de los elementos mostrados en este sitio web</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
