<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="../css/prefixed_styles.css" as="style">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js" async></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="header-container">
                <img class="logo_g_img" src="../assets/img/logo_g_cp.webp" alt="Gloryhammer" width="200" height="200">
                <!--  <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <h1 class="animate-text">🔨 G L O R Y H A M M E R 🔨</h1>
                <!-- <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <img class="logo_g_img" src="../assets/img/logo_g_cp.webp" alt="Gloryhammer" width="200" height="200">
            </div>
        </header>

        <main>
            <div class="container">
                <p style="text-align: justify; margin-top: 50px;font-size: 2rem; color: #ffff;">
                    Aviso legal: Todo el contenido de este sitio web, incluyendo textos, imágenes, videos, y otros elementos multimedia, pertenece exclusivamente a GLORYHAMMER. 
                </p>
                <p style="text-align: justify; margin-top: 50px;font-size: 2rem; color: #ffff;">
                    Este proyecto es de naturaleza EDUCATIVA (no comercial) y no tiene la intención de generar ningún tipo de beneficio.
                </p>
                <p style="text-align: justify; margin-top: 50px;font-size: 2rem; color: #ffff;">
                    Cualquier uso no autorizado del contenido puede estar sujeto a acciones legales. Por favor, respeta los derechos de autor y la propiedad intelectual. 
                </p>
                <p style="font-weight:700;text-align: center; margin-top: 50px;font-size: 2rem; color: #ffff;">
                    © 2024 GLORYHAMMER. Todos los derechos reservados.
                </p>
            </div>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
                <img loading="lazy" class="logo_g_img_infinite" src="../assets/img/logo_g_cp.webp" alt="Gloryhammer" width="50" height="50">
            </div>
        </footer>
    </body>
</html>
