<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="../css/prefixed_styles.css" as="style">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js" async></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="header-container">
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
                <!--  <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <h1 class="animate-text">🔨 G L O R Y H A M M E R 🔨</h1>
                <!-- <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
            </div>
        </header>

        <main>
            <div class="grid-disc-post">
                <article class="disc-post">
                    <img src="../assets/img/disc1.png" alt="Gloryhammer" width="500" height="500">
                    <div class="thumbnail-gallery">
                        <div class="thumbnail zoom-effect">
                            <img loading="lazy" src="../assets/img/disc1.png" alt="Thumbnail 1" width="100" height="100">
                        </div>
                        <div class="thumbnail zoom-effect">
                            <img loading="lazy" src="../assets/img/cp_disc1.png" alt="Thumbnail 2" width="100" height="100">
                        </div>
                    </div>
                    <div class="copyright" style="font-size: 18px;font-family: FiraSansTitulo">&copy; GLORYHAMMER</div>
                    <header>
                        <h1 style="font-family: FiraSansTitulo">Tales from the Kingdom of Fife (2013)</h1>
                    </header>
                    <div class="intro-text">
                        <p class="intro" style="padding:15px">
                            En las tierras místicas del reino de Fife, la leyenda de "Tales from the Kingdom of Fife" cobra vida. 
                            En el centro de esta historia está Angus McFife, un valiente guerrero destinado a enfrentarse al malvado hechicero Zargothrax.
                        </p>
                        <p class="intro" style="padding:15px">
                            A través de melodías épicas y letras cautivadoras, el álbum nos lleva en un viaje a través de batallas heroicas, encuentros con 
                            dragones y la lucha eterna entre la luz y la oscuridad.
                        </p>
                        <p class="intro" style="padding:15px">
                            Con cada nota, se teje un cuento de coraje, esperanza y la eterna búsqueda 
                            de la victoria sobre el mal. En este reino de música y fantasía, "Tales from the Kingdom of Fife" permanece como un monumento a la imaginación
                            y al poder de la narración.
                        </p>
                    </div>
                    <h1 style="font-family: FiraSansTitulo">Canciones del disco</h1>
                    <div class="disc_list">
                        <table>
                            <tr>
                                <th>Número de Canción</th>
                                <th>Nombre</th>
                                <th>Duración</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Anstruther's Dark Prophecy</td>
                                <td>1:27</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Unicorn Invasion of Dundee</td>
                                <td>4:26</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Angus McFife</td>
                                <td>3:28</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Quest for the Hammer of Glory</td>
                                <td>5:38</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Magic Dragon</td>
                                <td>5:28</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Silent Tears of Frozen Princess</td>
                                <td>5:34</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Amulet of Justice</td>
                                <td>4:27</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Hail to Crail</td>
                                <td>4:43</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Beneath Cowdenbeath</td>
                                <td>2:29</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>The Epic Rage of Furious Thunder</td>
                                <td>10:28</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Wizards! (Bonus Track)</td>
                                <td>2:22</td>
                            </tr>
                        </table>
                    </div>
                </article>
                <aside>
                    <section>
                        <h1 style="font-family: FiraSansTitulo">Otros discos de Gloryhammer</h1>
                        <div class="other-discs">
                            <article>
                                <div class="card-image">
                                    <img loading="lazy" src="../assets/img/disc2.png" alt="Space 1992: Rise of the Chaos Wizards (2015)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc2.html">Space 1992: Rise of the Chaos Wizards (2015)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img loading="lazy" src="../assets/img/disc3.png" alt="Legends from Beyond the Galactic Terrorvortex (2019)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc3.html">Legends from Beyond the Galactic Terrorvortex (2019)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img loading="lazy" src="../assets/img/disc4.png" alt="Return to the Kingdom of Fife (2023)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc4.html">Return to the Kingdom of Fife (2023)</a></h4>
                                </div>
                            </article>
                        </div>
                    </section>
                </aside>
            </div>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
                <img loading="lazy" class="logo_g_img_infinite" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="50" height="50">
            </div>
        </footer>
    </body>
</html>
