<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/script.js"></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="container">
                <a href="index.html">
                    <img src="../assets/img/gloryhammer_logo.png" alt="Gloryhammer" class="home-logo" width="750" height="195" onmouseover="startLogoAnimation(this)" onmouseout="stopRotation(this)">
                </a>
                <nav>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="presentation.html">Presentación</a></li>
                        <li><a href="members.html">Miembros</a></li>
                        <li><a href="discography.html">Discografía</a></li>
                        <li><a href="links.html">Enlaces</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="grid-disc-post">
                <article class="disc-post">
                    <img src="../assets/img/disc3.JPG" alt="Gloryhammer" class="home-logo" width="500" height="500">
                    <div class="copyright" style="font-size: 18px;font-family: FiraSansTitulo">&copy; GLORYHAMMER</div>
                    <header>
                        <h1 style="font-family: FiraSansTitulo">Legends from Beyond the Galactic Terrorvortex (2019)</h1>
                    </header>
                    <div onmouseover="makeBigger(this)" onmouseout="makeDwarf(this)">
                        <p class="intro" style="padding:15px">
                            En una era donde los confines del universo son apenas explorados, surge una nueva amenaza que desafía incluso a las fuerzas más poderosas de la galaxia.
                        </p>
                        <p class="intro" style="padding:15px">
                            Enfrentándose a legiones de criaturas cósmicas y dioses oscuros, los héroes legendarios se lanzan al abismo del terror galáctico para salvar la realidad misma.
                        </p>
                        <p class="intro" style="padding:15px">
                            Con cada batalla, cada sacrificio y cada victoria, se forja una epopeya que resonará a través de los siglos, una leyenda que trascenderá las estrellas y perdurará en la memoria de las civilizaciones por venir.
                        </p>
                    </div>
                    <h1 style="font-family: FiraSansTitulo">Canciones del disco</h1>
                    <div class="disc_list">
                        <table>
                            <tr>
                                <th>Número de Canción</th>
                                <th>Nombre</th>
                                <th>Duración</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Into the Terrorvortex of Kor-Virliath</td>
                                <td>01:18</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>The Siege of Dunkeld (In Hoots We Trust)</td>
                                <td>04:46</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Masters of the Galaxy</td>
                                <td>04:25</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>The Land of Unicorns</td>
                                <td>04:24</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Power of the Laser Dragon Fire</td>
                                <td>05:06</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Legendary Enchanted Jetpack</td>
                                <td>04:18</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Gloryhammer</td>
                                <td>05:00</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Hootsforce</td>
                                <td>03:50</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Battle for Eternity</td>
                                <td>03:52</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>The Fires of Ancient Cosmic Destiny</td>
                                <td>12:10</td>
                            </tr>
                        </table>
                    </div>
                </article>
                <aside>
                    <section>
                        <h1 style="font-family: FiraSansTitulo">Otros discos de Gloryhammer</h1>
                        <div class="other-discs">
                            <article>
                                <div class="card-image">
                                    <img src="../assets/img/disc1.JPG" alt="Tales from the Kingdom of Fife (2013)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc1.html">Tales from the Kingdom of Fife (2013)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img src="../assets/img/disc2.JPG" alt="Space 1992: Rise of the Chaos Wizards (2015)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc2.html">Space 1992: Rise of the Chaos Wizards (2015)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img src="../assets/img/disc4.JPG" alt="Return to the Kingdom of Fife (2023)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc4.html">Return to the Kingdom of Fife (2023)</a></h4>
                                </div>
                            </article>
                        </div>
                    </section>
                </aside>
            </div>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="authory.html">Autoría de los elementos mostrados en este sitio web</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
