<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js"></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="header-container">
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
                <!--  <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <h1 class="animate-text">🔨 G L O R Y H A M M E R 🔨</h1>
                <!-- <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
            </div>
        </header>

        <main>
            <div class="container-fluid">
                <div class="discography_introduction">
                    <h1 style="font-family: FiraSansFina;">Discografía de Gloryhammer</h1>
                    <p>A lo largo de los años, la banda Gloryhammer ha sido reconocida por su combinación única de metal épico y letras 
                        inspiradas en la fantasía. Con cada álbum, han llevado a los oyentes a emocionantes aventuras a través de reinos 
                        mágicos y batallas épicas. Desde sus inicios, Gloryhammer ha cautivado a fans de todo el mundo con su energía en 
                        el escenario y su dedicación a crear música que transporte a los oyentes a mundos alternativos. Hasta la fecha, 
                        la banda ha lanzado cuatro álbumes que han consolidado su posición como líderes en el género del metal fantástico.
                    </p>

                </div>
                <div class="grid-videos">
                    <article>
                        <a href="disc1.html">
                            <img src="../assets/img/disc1.png" class="rotate" style="border: 5px solid white;" alt="Gloryhammer" width="315" height="315" onmouseover="startRotation(this)" onmouseout="stopRotation(this)">
                        </a>
                        <div class="card-content">
                            <h2>Tales from the Kingdom of Fife (2013)</h2>
                            <p>Tales from the Kingdom of Fife es el álbum debut de la banda de power metal sinfónico Gloryhammer. Fue lanzado el 29 de marzo de 2013 en Europa.</p>
                        </div>
                    </article>
                    <article>
                        <a href="disc2.html">
                            <img src="../assets/img/disc2.png" class="rotate" style="border: 5px solid white;" alt="Gloryhammer" width="315" height="315" onmouseover="startRotation(this)" onmouseout="stopRotation(this)">
                        </a>
                        <div class="card-content">
                            <h2>Space 1992: Rise of the Chaos Wizards (2015)</h2>
                            <p>Space 1992: Rise of the Chaos Wizards es el segundo álbum de la banda de power metal sinfónico Gloryhammer. Fue lanzado a nivel mundial el 25 de septiembre de 2015.</p>
                        </div>
                    </article>
                </div>
                <div class="grid-videos">
                    <article>
                        <a href="disc3.html">
                            <img src="../assets/img/disc3.png" class="rotate" style="border: 5px solid white;" alt="Gloryhammer" width="315" height="315" onmouseover="startRotation(this)" onmouseout="stopRotation(this)">
                        </a>
                        <div class="card-content">
                            <h2>Legends from Beyond the Galactic Terrorvortex (2019)</h2>
                            <p>Legends from Beyond the Galactic Terrorvortex es el tercer álbum de la banda de power metal sinfónico Gloryhammer. Fue lanzado a nivel mundial el 31 de mayo de 2019.</p>
                        </div>
                    </article>
                    <article>
                        <a href="disc4.html">
                            <img src="../assets/img/disc4.png" class="rotate" style="border: 5px solid white;" alt="Gloryhammer" width="315" height="315" onmouseover="startRotation(this)" onmouseout="stopRotation(this)">
                        </a>
                        <div class="card-content">
                            <h2>Return to the Kingdom of Fife (2023)</h2>
                            <p>Return to the Kingdom of Fife es el cuarto álbum de la banda de power metal sinfónico Gloryhammer. Se lanzó a nivel mundial el 2 de junio de 2023. Es, sin duda, el mejor disco hasta la fecha de la banda</p>
                        </div>
                    </article>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
