<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/script.js"></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="container">
                <a href="index.html">
                    <img src="../assets/img/gloryhammer_logo.png" alt="Gloryhammer" class="home-logo" width="750" height="195" onmouseover="startLogoAnimation(this)" onmouseout="stopRotation(this)">
                </a>
                <nav>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="presentation.html">Presentación</a></li>
                        <li><a href="members.html">Miembros</a></li>
                        <li><a href="lore.html">Historia</a></li>
                        <li><a href="discography.html">Discografía</a></li>
                        <li><a href="links.html">Enlaces</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="grid-disc-post">
                <article class="disc-post">
                    <img src="../assets/img/disc3.JPG" alt="Gloryhammer" class="home-logo" width="500" height="500">
                    <div class="copyright" style="font-size: 18px;font-family: FiraSansTitulo">&copy; GLORYHAMMER</div>
                    <header>
                        <h1 style="font-family: FiraSansTitulo">Legends from Beyond the Galactic Terrorvortex (2019)</h1>
                    </header>
                    <div onmouseover="makeBigger(this)" onmouseout="makeDwarf(this)">
                        <p class="intro" style="padding:15px">
                            En las tierras místicas del reino de Fife, la leyenda de "Tales from the Kingdom of Fife" cobra vida. 
                            En el centro de esta historia está Angus McFife, un valiente guerrero destinado a enfrentarse al malvado hechicero Zargothrax.
                        </p>
                        <p class="intro" style="padding:15px">
                            A través de melodías épicas y letras cautivadoras, el álbum nos lleva en un viaje a través de batallas heroicas, encuentros con 
                            dragones y la lucha eterna entre la luz y la oscuridad.
                        </p>
                        <p class="intro" style="padding:15px">
                            Con cada nota, se teje un cuento de coraje, esperanza y la eterna búsqueda 
                            de la victoria sobre el mal. En este reino de música y fantasía, "Tales from the Kingdom of Fife" permanece como un monumento a la imaginación
                            y al poder de la narración.
                        </p>
                    </div>
                    <h1 style="font-family: FiraSansTitulo">Canciones del disco</h1>
                    <div class="disc_list">
                        <ol>
                            <li>Anstruther's Dark Prophecy</li>
                            <li>The Unicorn Invasion of Dundee</li>
                            <li>Angus McFife</li>
                            <li>Quest for the Hammer of Glory</li>
                            <li>Magic Dragon</li>
                            <li>Silent Tears of Frozen Princess</li>
                            <li>Amulet of Justice</li>
                            <li>Hail to Crail</li>
                            <li>Beneath Cowdenbeath</li>
                            <li>The Epic Rage of Furious Thunder</li>
                            <li>Wizards! (Bonus track)</li>
                        </ol>
                    </div>
                </article>
                <aside>
                    <section>
                        <h1 style="font-family: FiraSansTitulo">Otros discos de Gloryhammer</h1>
                        <div class="other-discs">
                            <article>
                                <div class="card-image">
                                    <img src="../assets/img/disc1.JPG" alt="Tales from the Kingdom of Fife (2013)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc1.html">Tales from the Kingdom of Fife (2013)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img src="../assets/img/disc2.JPG" alt="Space 1992: Rise of the Chaos Wizards (2015)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc2.html">Space 1992: Rise of the Chaos Wizards (2015)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img src="../assets/img/disc4.JPG" alt="Return to the Kingdom of Fife (2023)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc4.html">Return to the Kingdom of Fife (2023)</a></h4>
                                </div>
                            </article>
                        </div>
                    </section>
                </aside>
            </div>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="authory.html">Autoría de los elementos mostrados en este sitio web</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
