<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js" async></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="header-container">
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
                <!--  <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <h1 class="animate-text">🔨 G L O R Y H A M M E R 🔨</h1>
                <!-- <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
            </div>
        </header>

        <main>
            <div class="grid-disc-post">
                <article class="disc-post">
                    <img src="../assets/img/disc4.png" alt="Gloryhammer" width="500" height="500">
                    <div class="thumbnail-gallery">
                        <div class="thumbnail zoom-effect">
                            <img loading="lazy" src="../assets/img/disc4.png" alt="Thumbnail 1" width="100" height="100">
                        </div>
                        <div class="thumbnail zoom-effect">
                            <img loading="lazy" src="../assets/img/cp_disc4.png" alt="Thumbnail 2" width="100" height="100">
                        </div>
                    </div>
                    <div class="copyright" style="font-size: 18px;font-family: FiraSansTitulo">&copy; GLORYHAMMER</div>
                    <header>
                        <h1 style="font-family: FiraSansTitulo">Return to the Kingdom of Fife (2023)</h1>
                    </header>
                    <div class="intro-text">
                        <p class="intro" style="padding:15px">
                            En un giro inesperado del destino, los caminos del tiempo y el espacio convergen una vez más en el legendario reino de Fife.
                        </p>
                        <p class="intro" style="padding:15px">
                            Los héroes olvidados y las leyendas resucitadas se alzan para enfrentarse a una nueva amenaza que amenaza con sumir al reino en la oscuridad eterna.
                        </p>
                        <p class="intro" style="padding:15px">
                            Con el espíritu de la aventura y la valentía, los intrépidos guerreros emprenden un viaje audaz para restaurar la gloria perdida y defender la tierra que una vez llamaron hogar.
                        </p>
                    </div>
                    <h1 style="font-family: FiraSansTitulo">Canciones del disco</h1>
                    <div class="disc_list">
                        <table>
                            <thead>
                                <tr>
                                    <th>Número de Canción</th>
                                    <th>Nombre</th>
                                    <th>Duración</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Incoming Transmission</td>
                                    <td>01:46</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Holy Flaming Hammer of Unholy Cosmic Frost</td>
                                    <td>04:35</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Imperium Dundaxia</td>
                                    <td>04:36</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Wasteland Warrior Hoots Patrol</td>
                                    <td>04:29</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Brothers of Crail</td>
                                    <td>04:16</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Fife Eternal</td>
                                    <td>03:05</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Sword Lord of the Goblin Horde</td>
                                    <td>05:26</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Vorpal Laserblaster of Pittenweem</td>
                                    <td>04:29</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Keeper of the Celestial Flame of Abernethy</td>
                                    <td>03:20</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Maleficus Geminus (Colossus Matrix 38B - Ultimate Invocation of the Binary Thaumaturge)</td>
                                    <td>---</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
                <aside>
                    <section>
                        <h1 style="font-family: FiraSansTitulo">Otros discos de Gloryhammer</h1>
                        <div class="other-discs">
                            <article>
                                <div class="card-image">
                                    <img loading="lazy" src="../assets/img/disc1.png" alt="Tales from the Kingdom of Fife (2013)" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc1.html">Tales from the Kingdom of Fife (2013)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img loading="lazy" src="../assets/img/disc3.png" alt="Un hombre con camisa blanca cerca del mar" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc3.html">Legends from Beyond the Galactic Terrorvortex (2019)</a></h4>
                                </div>
                            </article>
                            <article>
                                <div class="card-image">
                                    <img loading="lazy" src="../assets/img/disc2.png" alt="Verduras y otros alimentos sobre un plato azul" width="200" height="200">
                                </div>
                                <div class="card-content">
                                    <h4><a href="disc2.html">Space 1992: Rise of the Chaos Wizards (2015)</a></h4>
                                </div>
                            </article>
                        </div>
                    </section>
                </aside>
            </div>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
                <img loading="lazy" class="logo_g_img_infinite" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="50" height="50">
            </div>
        </footer>
    </body>
</html>
