<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="container">
                <img src="../assets/img/gloryhammer_logo.png" alt="Gloryhammer" class="home-logo" width="750" height="195">
            </div>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="presentation.html">Presentación</a></li>
                        <li><a href="members.html">Miembros</a></li>
                        <li><a href="lore.html">Historia</a></li>
                        <li><a href="discography.html">Discografía</a></li>
                        <li><a href="category.html">Categorías</a></li>
                        <li><a href="links.html">Enlaces</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <p>Gloryhammer es una banda de power metal sinfónico originaria de Escocia. La banda fue fundada por Christopher Bowes, teclista de la banda de pirate metal Alestorm.</p>
            <p>La banda se caracteriza por sus letras épicas y fantasiosas, que narran la historia de Angus McFife, un príncipe que lucha contra el malvado mago oscuro Zargothrax.</p>
            <p>¡Gracias por visitar nuestra página web y explorar más sobre Gloryhammer! Te invitamos a revisar los diferentes apartados para conocer más detalles sobre la banda, su música, miembros y más.</p>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="authory.html">Autoría de los elementos mostrados en este sitio web</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
