<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js" async></script>
        <title>Gloryhammer Fanpage</title>
    </head>
</head>

<body class="home">
    <header>
        <div class="header-container">
            <img loading="lazy" class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
            <img loading="lazy" class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75">
            <h1 class="animate-text">G L O R Y H A M M E R</h1>
            <img loading="lazy" class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75">
            <img loading="lazy" class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
        </div>
    </header>

        <main>
            <p>Gloryhammer es una banda de power metal sinfónico originaria de Escocia. La banda fue fundada por Christopher Bowes, teclista de la banda de pirate metal Alestorm.</p>
            <p>La banda se caracteriza por sus letras épicas y fantasiosas, que narran la historia de Angus McFife, un príncipe que lucha contra el malvado mago oscuro Zargothrax.</p>
            <p>¡Gracias por visitar nuestra página web y explorar más sobre Gloryhammer! Te invitamos a revisar los diferentes apartados para conocer más detalles sobre la banda, su música, miembros y más.</p>
            <iframe 
                style="width: 50%; height:400px; margin-top:2%;margin-left: auto; margin-right: auto; display: block;"
                src="https://www.youtube.com/embed/-O5TxWQkfr0?si=nHm8sRNYgBIfSsYh" 
                title="YouTube video player" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen>
            </iframe>
            <span class="video_footer">¡Escucha el último temazo de Gloryhammer: 🔥Keeper of the Celestial Flame of Abernethy🔥</span>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
                <img loading="lazy" class="logo_g_img_infinite" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="50" height="50">
            </div>
        </footer>
    </body>
</html>
