<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/script.js"></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="container">
                <a href="index.html">
                    <img src="../assets/img/gloryhammer_logo.png" alt="Gloryhammer" class="home-logo" width="750" height="195" onmouseover="startLogoAnimation(this)" onmouseout="stopRotation(this)">
                </a>
                <nav>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="presentation.html">Presentación</a></li>
                        <li><a href="members.html">Miembros</a></li>
                        <li><a href="discography.html">Discografía</a></li>
                        <li><a href="links.html">Enlaces</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
            <h1 style="font-family: FiraSansTitulo;margin-bottom: 5px;">Enlaces de interés sobre Gloryhammer</h1>
            <p style="font-family: FiraSansFina;margin: 15px; font-weight: 700;">A continuación se muestran los materiales utilizados para confeccionar el contenido de este sitio web</p>
            <ol>
                <li>
                    <p>Album Art de "Space 1992: Rise of the Chaos Wizards". (2023). Recuperado de <a href="https://static.wikia.nocookie.net/dundaxiancodex/images/3/3f/Space_1992_album_art.jpeg/revision/latest?cb=20230624022844">este enlace</a></p>
                </li>
                <li>
                    <p>Album Cover de "Tales from the Kingdom of Fife". (2023). Recuperado de <a href="https://static.wikia.nocookie.net/dundaxiancodex/images/7/78/Gloryhammer_-_Tales_from_the_Kingdom_of_Fife_-_Album_Cover.jpg/revision/latest?cb=20230624020713">este enlace</a></p>
                </li>
                <li>
                    <p>Album Cover de "Legends from Beyond the Galactic Terrorvortex". (2023). Recuperado de <a href="https://static.wikia.nocookie.net/dundaxiancodex/images/4/4d/Gloryhammer_-_Legends_from_Beyond_the_Galactic_Terrorvortex.jpg/revision/latest?cb=20230624022700">este enlace</a></p>
                </li>
                <li>
                    <p>Album Art de "Return to the Kingdom of Fife". (2023). Recuperado de <a href="https://static.wikia.nocookie.net/dundaxiancodex/images/f/f8/Return_to_the_Kingdom_of_Fife_-_Album_Art.jpg/revision/latest?cb=20230624023009">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - Página Principal. Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Home">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - "Return to the Kingdom of Fife" Gallery. Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Return_to_the_Kingdom_of_Fife?file=Return_tourdates_background.jpg">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - Trivia de "Space 1992: Rise of the Chaos Wizards". Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Space_1992:_Rise_of_the_Chaos_Wizards#Trivia">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - "Return to the Kingdom of Fife" Article. Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Return_to_the_Kingdom_of_Fife">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - "Legends from Beyond the Galactic Terrorvortex" Article. Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Legends_from_Beyond_the_Galactic_Terrorvortex">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - "Space 1992: Rise of the Chaos Wizards" Article. Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Space_1992:_Rise_of_the_Chaos_Wizards">este enlace</a></p>
                </li>
                <li>
                    <p>Dundaxian Codex Wiki - "Tales from the Kingdom of Fife" Article. Recuperado de <a href="https://dundaxiancodex.fandom.com/wiki/Tales_from_the_Kingdom_of_Fife">este enlace</a></p>
                </li>
                <li>
                    <p>Wikipedia - Gloryhammer. Recuperado de <a href="https://es.wikipedia.org/wiki/Gloryhammer">este enlace</a></p>
                </li>
                <li>
                    <p>Wallpaper de Gloryhammer. Recuperado de <a href="https://www.wallpaperflare.com/gloryhammer-metal-zargothrax-wallpaper-ysbjb">este enlace</a></p>
                </li>
                <li>
                    <p>Napalm Records - Gloryhammer. Recuperado de <a href="https://label.napalmrecords.com/gloryhammer">este enlace</a></p>
                </li>
                <li>
                    <p>Giphy - Gloryhammer. Recuperado de <a href="https://giphy.com/search/gloryhammer">este enlace</a></p>
                </li>
                <li>
                    <p>Spirit of Metal - Gloryhammer. Recuperado de <a href="https://www.spirit-of-metal.com/es/band/Gloryhammer">este enlace</a></p>
                </li>
            </ol>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="authory.html">Autoría de los elementos mostrados en este sitio web</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
