<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js"></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="header-container">
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
                <!--  <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <h1 class="animate-text">🔨 G L O R Y H A M M E R 🔨</h1>
                <!-- <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
            </div>
        </header>

        <main>
            <section class="aims">
                <div class="container">
                    <div class="aims-content">
                        <div class="aims-img">
                            <img style="border: 5px solid white;" src="../assets/img/msozos.png" alt="Sozos Michael" width="350" height="400">
                            <div class="copyright" style="font-size: 18px;">&copy; GLORYHAMMER</div>
                        </div>
                        <div class="aims-text">
                            <h1>Sozos Michael (Angus McFife)</h1>
                            <p>Actual vocalista (desde 2021). Angus McFife V, Príncipe de la Corona de Dundee, Heredero del Reino de Fife. Sozos Michael, también conocido como Angus McFife V, se ha destacado como el actual vocalista de Gloryhammer desde el año 2021. 
                                Descendiente de la noble línea de los McFife, ostenta el título de Príncipe de la Corona de Dundee y es el Heredero del Reino de Fife. Su poderosa voz y su compromiso con la causa de la banda lo han convertido en una pieza fundamental 
                                en la lucha contra las fuerzas oscuras que amenazan la galaxia.
                            </p>
                        </div>
                    </div>
                    <div class="aims-content">
                        <div class="aims-text">
                            <h1>Thomas Winkler (Angus McFife)</h1>
                            <p>Antiguo vocalista (hasta 2021). Angus McFife I, Príncipe de la Corona de Dundee, Heredero del Reino de Fife. Thomas Winkler, conocido por su interpretación del legendario Angus McFife I, fue el vocalista principal de Gloryhammer hasta el año
                               2021. Proveniente de una ilustre estirpe, ostentaba el título de Príncipe de la Corona de Dundee y era el Heredero del Reino de Fife. Su legado perdura en las canciones y la historia de la banda, siendo recordado como un valiente guerrero que 
                               luchó por la libertad y la justicia en la galaxia.
                            </p>
                        </div>
                        <div class="aims-img even">
                            <img src="../assets/img/twinkler.png" style="border: 5px solid white;" alt="Thomas Winkler" width="350" height="430">
                            <div class="copyright" style="font-size: 18px;">&copy; GLORYHAMMER</div>
                        </div>
                    </div>
                    <div class="aims-content">
                        <div class="aims-img">
                            <img src="../assets/img/ptempling.png" style="border: 5px solid white;" alt="Paul Templing" width="350" height="400">
                            <div class="copyright" style="font-size: 18px;">&copy; GLORYHAMMER</div>
                        </div>
                        <div class="aims-text">
                            <h1>Paul Templing (Ser Proletius)</h1>
                            <p>Guitarrista. Ser Proletius, Gran Maestro de los Caballeros Templarios de Crail. Paul Templing, conocido en los círculos de Gloryhammer como Ser Proletius, es el virtuoso guitarrista y Gran Maestro de los Caballeros Templarios de Crail. Con su 
                                destreza musical y su compromiso con la causa de la banda, Ser Proletius ha demostrado ser un guerrero formidable en la lucha contra las fuerzas del mal que amenazan la existencia misma.</p>
                        </div>
                    </div>
                    <div class="aims-content">
                        <div class="aims-text">
                            <h1>Michael Barber (Zargothrax)</h1>
                            <p>Teclista. Zargothrax, Hechicero Negro de Auchtermuchty. Michael Barber, bajo el manto de Zargothrax, es el maestro de los teclados y el Hechicero Negro de Auchtermuchty. Con su poderosa magia musical, Zargothrax ha desafiado a los enemigos de 
                                Gloryhammer en innumerables batallas, mostrando su dominio sobre los elementos y su determinación para llevar la gloria a su señor oscuro.</p>
                        </div>
                        <div class="aims-img even">
                            <img src="../assets/img/mbarber.png" style="border: 5px solid white;" alt="Michael Barber" width="350" height="400">
                            <div class="copyright" style="font-size: 18px;">&copy; GLORYHAMMER</div>
                        </div>
                    </div>
                    <div class="aims-content">
                        <div class="aims-img">
                            <img src="../assets/img/hootsman.png" style="border: 5px solid white;" alt="James Cartwright" width="350" height="400">
                            <div class="copyright" style="font-size: 18px;">&copy; GLORYHAMMER</div>
                        </div>
                        <div class="aims-text">
                            <h1>James Cartwright (The Hootsman)</h1>
                            <p>Bajista. HOOTSMAN, Guerrero Bárbaro Rey de Unst. James Cartwright, conocido como The Hootsman, es el bajista legendario y el Guerrero Bárbaro Rey de Unst. Con su fuerza sobrehumana y su habilidad musical, The Hootsman ha liderado a Gloryhammer
                                en muchas aventuras épicas, demostrando ser un aliado valioso y un símbolo de esperanza para todos los que luchan por la libertad en la galaxia.
                            </p>
                        </div>
                    </div>
                    <div class="aims-content">
                        <div class="aims-text">
                            <h1>Ben Turk (Ralathor)</h1>
                            <p>Batería. Ralathor, el Misterioso General Ermitaño de Cowdenbeath. Ben Turk, también conocido como Ralathor, es el talentoso baterista y el Misterioso General Ermitaño de Cowdenbeath. Con su ritmo imparable y su habilidad para mantener el compás 
                                en las batallas más intensas, Ralathor ha demostrado ser un guerrero indispensable en la lucha contra las fuerzas del caos y la oscuridad.</p>
                        </div>
                        <div class="aims-img even">
                            <img src="../assets/img/bturk.png" style="border: 5px solid white;" alt="Ben Turk" width="350" height="400">
                            <div class="copyright" style="font-size: 18px;">&copy; GLORYHAMMER</div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
