<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/prefixed_styles.css">
        <script src="../js/script.js"></script>
        <title>Gloryhammer Fanpage</title>
    </head>

    <body class="home">
        <header>
            <div class="header-container">
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
                <!--  <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <h1 class="animate-text">🔨 G L O R Y H A M M E R 🔨</h1>
                <!-- <img class="svg_img" src="https://svgsilh.com/svg/23993.svg" width="75" height="75"> -->
                <img class="logo_g_img" src="../assets/img/logo_g_cp.png" alt="Gloryhammer" width="200" height="200">
            </div>
        </header>

        <main>
            <section class="presentation">
                <h2 style="text-align: center;">Bienvenidos a la más completa fanpage de Gloryhammer</h2>
                <p>¡Explora el emocionante universo de la mejor banda de power metal!</p>
                <h1 style="font-size: 36px; font-family: FiraSansFina; font-style: italic; text-align: center;padding-bottom: 15px;">
                    🔨 In Hoots we trust! 🔨
                </h1>
                </div>
                <div class="band_pic">
                    <img src="../assets/img/band.png" style="border: 5px solid white;" alt="Band"  width="800">
                </div>
                <div class="copyright" style="font-size: 18px; font-family: FiraSansFina;">&copy; GLORYHAMMER</div>
                <p style="padding-top: 10px;">En este sitio web, encontrarás una amplia gama de contenido relacionado con Gloryhammer, incluyendo:</p>
                <ul>
                    <li><strong>Historia:</strong> Sumérgete en la épica narrativa de Gloryhammer, desde sus humildes comienzos hasta sus logros más recientes. Descubre las historias detrás de sus álbumes, las inspiraciones de las letras y las aventuras que han llevado a la banda a la fama.</li>
                    <li><strong>Miembros:</strong> Conoce a los talentosos músicos que componen Gloryhammer y descubre sus roles en la banda. Explora las historias personales de cada miembro, sus influencias musicales y su contribución única al sonido de la banda.</li>
                    <li><strong>Discografía:</strong> Explora la discografía completa de Gloryhammer, desde su álbum debut hasta sus lanzamientos más recientes. Encuentra detalles sobre cada álbum, incluyendo las canciones, sus nombres y duraciones, ordenados por fecha para que puedas seguir la evolución de la banda a lo largo del tiempo.</li>
                    <li><strong>Enlaces:</strong> Descubre recursos adicionales relacionados con Gloryhammer para que puedas profundizar aún más en el mundo de la banda. Encuentra enlaces a sitios web oficiales, perfiles en redes sociales, foros de fans y otros recursos donde puedes conectarte con otros seguidores de Gloryhammer y compartir tu pasión por la música épica y la fantasía.</li>
                </ul>
                <p style="text-align: center;">¡Únete a la comunidad de fans de Gloryhammer!</p>
            </section>
        </main>

        <footer>
            <div class="container">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="presentation.html">Presentación</a></li>
                    <li><a href="members.html">Miembros</a></li>
                    <li><a href="discography.html">Discografía</a></li>
                    <li><a href="links.html">Enlaces</a></li>
                    <li><a href="authory.html">Autoría</a></li>
                </ul>
                <p>Sitio web creado por Carlos Bayón Guerrero 😄</p>
            </div>
        </footer>
    </body>
</html>
